*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgba(212, 212, 206, 0.233);
}



:root {
  --primary-color: rgba(66, 133, 244, 1);
  --secondary-color:rgba(66, 134, 244, 0.541);
  --font-size: 16px;
  --border:2px solid black;
  --para-color:rgb(17, 17, 17);
  --button-color:rgb(63, 140, 255);

}

.active {
    margin: 10px 10px;
    border-radius: 16px;
  background: #057cd1;
  color: #fff;
  font-weight: 600;
}

.button{
    padding: 15px 15px;
    background-color: rgba(0, 0, 255, 0.192);
    color: #fff;
    border-radius: 16px;
    border: none;
}


p{
    color: var(--para-color);
    font-size: 16px;
}

h1{
    font-size: 20px;
    font-weight: 550;
}

h2{
    font-size: 25px;
    font-weight: lighter;
     color: grey;
    font-size: 18px;
}

h3{
    font-size: 20px;
}

.textcenter{
    text-align: center;
}

.dflex{
    display: flex;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    background-color: #fff;
    top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header .top{
    border: 1px solid rgba(128, 128, 128, 0.247);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}



header .left{
    display: flex;
    align-items: center;
    width: 24.3%;
    gap: 10px;
    padding: 0 20px;
    
}

@media (max-width: 600px) {
  header .left {
    display: none;
  }
}

header .media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding:0 20px;
    border-left: 1px solid rgba(128, 128, 128, 0.301);
    h1{
        font-size: 24px;
    }
}

.m{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 18, 182);
    border-radius: 10px;
    height: 35px;
    width: 35px;
   h1{
     font-size: 16px;
    color: #fff;
   }
}

.manetor{
    h1{
         color: rgba(0, 0, 0, 0.87);
        font-size: 18px;
        font-weight: 300;
    }
}

.jd{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(45deg, red, blue);
    border-radius: 50px;
    height: 40px;
    width: 40px;
    font-size: 13px;
    color: #fff;
}


.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 70px;
  left: 0;
  width: 20%;
  z-index: 1000;  
  background-color: #fff;
  border-right: 1px solid rgba(128, 128, 128, 0.301);
  padding: 20px 0;
  height: 90vh;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}



.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
}

.settings{
    display: flex;
    align-items: center;
    height: 12vh;
    border-top: 1px solid rgba(128, 128, 128, 0.301);
}

.menu-item:hover {
  background: #e9ecef;
  color: #007bff;
  transform: translatey(4px);
}

.menu-item .icon {
  font-size: 20px;
  width: 24px;
}

.menu-item span {
  font-size: 16px;
  font-weight: 500;
}

.menu-item.active {
    margin: 10px 10px;
    border-radius: 16px;
  background: #057cd1;
  color: #fff;
  font-weight: 600;
}

/*===================================main content=============================================================== =======================*/


.content{
    margin-top: 60px;
    margin-left: 20%;
    display: flex;
    width: 100%;
    gap: 20px;

}
.content-right{
    padding-top: 50px;
    padding-left: 40px;
    width: 80%;

}

.storage{
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 97%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}


.head{
    display: flex;
    justify-content: space-between;

    h2{
        font-size: 18px;
        font-weight: 540;
        color: rgb(0, 0, 0);
    }
    
    h3{
        font-size: 16px;
        color: red;
        font-weight: 550;
    }
   

    p{
        font-size: 14px;
        color: grey;
    }
}

.over-limit{
    text-align: center;
    border-radius: 30px;
    height: 30px;
    width: 15%;
    background-color: rgba(255, 192, 203, 0.322);
}

.head>div{
    line-height: 28px;
}



.capacity{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    justify-content: start;
    width: 100%;
    height: 20%;
    gap: 10px;
    h1{
        font-size: 40px;
        color: red;
    }
    p{
        font-size: 20px;
    }
}

.extra-storage{
    align-items: center;
    border-radius: 16px;
    width: 100%;
    padding: 15px 40px;
    color: rgb(122, 4, 4);
    background-color: rgba(255, 192, 203, 0.418);
    line-height: 28px;

    h4{
        font-weight: 550;
    }
    p{
        font-size: 15px;
        color: red;
    }
}

.upgrade-button{
   a{
     color: #fff;
     font-size: 17px;
     font-weight: 550;
   }
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    width: 100%;
    height: 44px;
    background-color: var(--button-color);
}


/* ----------------------------------------------code for progress bar net*--------------------------------------------------*/

.storage-container {
  width: 100%;
  font-family: system-ui, -apple-system, sans-serif;
}

.storage-text {
  display: flex;
  gap: 9px;
  margin-bottom: 2px;
  font-size: 30px;
}

.storage-text strong {
    
  color: #d93025;       
}

.free {
    margin-top: 12px;
    font-size: 16px;
}

/* Style the Native Progress Bar */
.storage-progress {
  width: 100%;
  height: 8px;
  border: none;
  border-radius: 9999px;
  overflow: hidden;
}

.storage-progress::-webkit-progress-value {
  background: linear-gradient(to right, #ea4335,#fbbc05);
  border-radius: 9999px;
}

/*================================================================ media files ===============================================*/

.media-files{
    padding: 40px 0;
    width: 97%;
} 


.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.options-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-right{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

@media (max-width: 600px) {

  .options {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .options-right {
    width: 100%;
    flex-direction: column;
  }

  .options-right input {
    width: 100%;
  }
}

.options-right-first{
    font-size: 15px;
    font-weight: 100;
    padding: 18px 10px;
    border-radius: 16px;
    border: 0.4px solid rgba(128, 128, 128, 0.253);
}

.options-right-second{
    font-size: 15px;
    font-weight: 100;
    width:100px;
    padding: 18px 10px;
    border-radius: 16px;
    border: 0.4px solid rgba(128, 128, 128, 0.253);
}

.options-right-second::placeholder {
  color: #000;
}

.options-right-third{
    color: #fff;
    width: 160px;
     font-size: 15px;
    font-weight: 600;
    padding: 18px 10px;
    border-radius: 16px;
    border: 0.4px solid rgba(128, 128, 128, 0.253);
    background-color: var(--button-color);
}

/*===================== image gallery=======*/

.img-gallery {
    width: 97%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Tablet */
@media (max-width: 992px) {
  .img-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small tablets */
@media (max-width: 768px) {
  .img-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile phones */
@media (max-width: 600px) {
  .img-gallery {
    grid-template-columns: 1fr; /* 1 card per row */
  }
}

.card {
    position: relative;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: 0.3s;
}

/* image */

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.img-descr {
  padding: 12px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
}

.tag {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 10px;
}

.blue {
  background: #e3f0ff;
  color: #2979ff;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
  margin-top: 8px;
}

/*======================= overlays============= */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 67%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); 
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}


.actions {
  display: flex;
  gap: 15px;
}

.btn {
  background: rgba(255, 255, 255, 0.966);
  border: none;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.delete{color: red;}

.download{color: rgba(0, 0, 255, 0.692);}

.btn:hover {
  transform: scale(1.1);
  
}

.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    transform: scale(1.03);
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover img {
  filter: brightness(99%);
}